/*Schools individual page */

.school-page-cover{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: block;
}

.school-page-body, .school-page-head{
    max-width:var(--page-max-width);
    margin-left:auto;
    margin-right:auto;
}

.school-page-head{
    display: flex;
    margin-top: -61px;
    margin-bottom: 50px;
}

.school-page-head-logo{
    display: block;
    background-size: contain;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 90%;
    border: 1px solid var(--color-black);
    background-position: center;
    background-size: 50px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.school-page-head-info{
    display: block;
    text-align: left;
    padding-left: 20px;
}

.school-page-name{
    font-size: 2.5em;  
    font-weight: 600;
    margin-top: 15px;
    color: #fff;
    text-shadow: var(--box-shadow);
}

.school-page-details{
    font-size: 2.5em;
    text-align: left;
    font-weight: 600;

}



.school-page-info{
    font-size: 2.5em;
    text-align: left;
    font-weight: 600;
   
}

.school-page-info-details{
    text-align: left;
    margin-left: 190px; 
}


.schulform-page, .bundesland-page{
    font-size: 0.8em;
    box-sizing: border-box;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.lernformat{
    text-align:left;
}

.lernformat a{
    font-size: 0.8em;
    box-sizing: border-box;
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 20px;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 0;
}

.school-page-body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.school-page-body-description {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.8em;
    margin-bottom: 50px;
}

.school-page-body-info-box{
    grid-column-start: 4;
    grid-column-end: 5;
    box-shadow: var(--box-shadow);
    margin: auto;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    font-style: oblique;
}

.school-page-body-info-box h4{
    margin-bottom: auto;
}

.schulen-fullpage{
    width: 100%;
    display: flex;
   
    

}

.divider{
    width: 80px;
    color: #E6137E;
    margin-top: 10px;
    
}

.schulen-tags{
    width: 30%;
    padding: 40px;
}
   



.schools-grid{
    width: 70%;
   
}