body{
    background-color:#B34A6E;
    color:white;
    font-family: "Open Sans",Sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
    max-width: 100%;
    height:100%;
    position: relative;
    align-content: normal;
    font-size: 25px;
    margin-left: 22.4px;
margin-right: 22.4px;
}